<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
             class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form #form="ngForm" (ngSubmit)="formulaireRegister()" class="mt-5 " class="container">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="username">User Name</label>
            <input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control form-control-lg" placeholder="Enter a valid username"/>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label" for="password">Password</label>
            <input type="text" id="password" name="password" [(ngModel)]="user.password" class="form-control form-control-lg" placeholder="Enter a valid password"/>
          </div>


          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
          </div>
        </form>
        <p class="small fw-bold mt-2 pt-1 mb-0">You have an account ?
          <a [routerLink]="['/signin']" class="link-danger">SignIn</a></p>
      </div>
    </div>
  </div>
  <div>

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>
