
<form #form="ngForm" (ngSubmit)="formulaire()" class="mt-5 " class="container" >
    <div class="mb-3">
      <label for="name" class="form-label">Name : </label>
      <input type="text" class="form-control" id="name" [(ngModel)]="dvdToShow.name" name="name" placeholder="{{dvdToShow.name}}">
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Type : {{dvdToShow.type}}</label>
      <input type="text" class="form-control" id="type" [(ngModel)]="dvdToShow.type" name="type" placeholder="{{dvdToShow.type}}">
    </div>
    <div class="mb-3">
        <label for="quantity" class="form-label">Quantity : </label>
        <input type="text" class="form-control" id="quantity" [(ngModel)]="dvdToShow.quantity" name="quantity" placeholder="{{dvdToShow.quantity}}">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price : </label>
        <input type="text" class="form-control" id="price" [(ngModel)]="dvdToShow.price" name="price" placeholder="{{dvdToShow.price}}">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description : </label>
        <input type="text" class="form-control" id="description" [(ngModel)]="dvdToShow.description" name="description" placeholder="{{dvdToShow.description}}">
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="text" class="form-control" id="image" [(ngModel)]="dvdToShow.image" name="image" placeholder="{{dvdToShow.image}}">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<!--
  <form class="container">
    <div class="mb-3">
      <label for="name" class="form-label">Name : </label>
      <input type="text" class="form-control" id="name" value="{{dvdToShow?.name}}" placeholder={{dvdToShow?.name}}>
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Type : </label>
      <input type="text" class="form-control" id="type" value="{{dvdToShow?.type}}" placeholder={{dvdToShow?.type}}>
    </div>
    <div class="mb-3">
        <label for="quantity" class="form-label">Quantity : </label>
        <input type="text" class="form-control" id="quantity" value="{{dvdToShow?.quantity}}" placeholder={{dvdToShow?.quantity}}>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price : </label>
        <input type="text" class="form-control" id="price" value="{{dvdToShow?.price}}" placeholder={{dvdToShow?.price}}>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description : </label>
        <input type="text" class="form-control" id="description" value="{{dvdToShow?.description}}" placeholder={{dvdToShow?.description}}>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="text" class="form-control" id="image" value="{{dvdToShow?.image}}" placeholder={{dvdToShow?.image}}>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
-->